<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nutritions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"/>

</head>
<body>
<h1 class="text-center">Nutrition Table</h1>

<div class="container">
    <div th:if="${not #lists.isEmpty(nutritions)}">

        <table class = "table table-striped table-bordered table-hover">
            <tr>
                <th class="text-center"> Id </th>
                <th class="text-center"> Product </th>
                <th class="text-center"> Calories </th>
                <th class="text-center"> Carbs </th>
            </tr>
            <tr th:each="nutrition:${nutritions}">
                <td class="text-center" th:text = "${nutrition.id}"></td>
                <td class="text-center" th:text = "${nutrition.product}"></td>
                <td class="text-center" th:text = "${nutrition.calories}"></td>
                <td class="text-center" th:text = "${nutrition.carbs}"></td>
            </tr>
        </table>
    </div>
</div>

<div>
    <form class="text-center">
        <button formaction="http://localhost:8080/nutrition">Make a new Nut!</button>
        <a href="/nutrition"><input type="button" value="Submit"/></a>
    </form>
    <p class="text-center"><a href="/nutrition"><input type="button" value="Submit"/></a> </p>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

</body>
</html>
